In [16]:
abs(-77)

77

In [23]:
s = -123
flag = -1 if s < 0 else 1
flag

-1

In [3]:
import pandas as pd
import numpy as np

In [37]:
cat_cols = "cat1 cat1 cat2 cat3 cat2 np.nan cat3 cat3 cat2".split()

In [38]:
d = {
    "name" : ["Minato","Itachi","Gohan","Vegeta","Eren","Might_Guy","Levi","Goku","Mikasa"],
    "Anime":["Naruto","Naruto","DBZ",np.nan,"AOT","Naruto","DBZ",np.nan,"AOT"],
    "Levels":[20,15,50,48,30,np.nan,50,np.nan,25],
    "cat_cols":cat_cols
}

df = pd.DataFrame(d)
df

        name   Anime  Levels cat_cols
0     Minato  Naruto    20.0     cat1
1     Itachi  Naruto    15.0     cat1
2      Gohan     DBZ    50.0     cat2
3     Vegeta     NaN    48.0     cat3
4       Eren     AOT    30.0     cat2
5  Might_Guy  Naruto     NaN   np.nan
6       Levi     DBZ    50.0     cat3
7       Goku     NaN     NaN     cat3
8     Mikasa     AOT    25.0     cat2

In [22]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder

In [6]:
import warnings 
warnings.filterwarnings("ignore")

In [39]:
ord_cat = ["cat1","cat2","cat3","np.nan"]

In [40]:
cat_features = ["cat_cols"]
cat_tranformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="constant",fill_value="missing")),
     ("ordinal", OrdinalEncoder(categories=[ord_cat]))
]) 

processor = ColumnTransformer(
        transformers=[("cat",cat_tranformer,cat_features)]
,remainder="passthrough")

model = Pipeline(steps=[
    ("processor", processor)
])

# X = df["Anime"]
# dff = processor.fit_transform(df)
# dff

In [41]:
model

Pipeline(steps=[('processor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('ordinal',
                                                                   OrdinalEncoder(categories=[['cat1',
                                                                                               'cat2',
                                                                                               'cat3',
                                                                                               'np.nan']]))]),
                                                  ['cat_cols'])]))])

In [42]:
tran = model.fit_transform(df)

In [43]:
dff1 = pd.DataFrame(tran)
dff1

     0          1       2     3
0  0.0     Minato  Naruto  20.0
1  0.0     Itachi  Naruto  15.0
2  1.0      Gohan     DBZ  50.0
3  2.0     Vegeta     NaN  48.0
4  1.0       Eren     AOT  30.0
5  3.0  Might_Guy  Naruto   NaN
6  2.0       Levi     DBZ  50.0
7  2.0       Goku     NaN   NaN
8  1.0     Mikasa     AOT  25.0

In [44]:
anime_features = [2]
anime_tranformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="constant",fill_value="missing")),
     ("ordinal", OneHotEncoder(handle_unknown="ignore"))
]) 

processor = ColumnTransformer(
        transformers=[("cat",anime_tranformer,anime_features)]
,remainder="passthrough")

model1 = Pipeline(steps=[
    ("processor", processor)
])

dff2 = model1.fit_transform(dff1)
dff2

array([[0.0, 0.0, 1.0, 0.0, 0.0, 'Minato', 20.0],
       [0.0, 0.0, 1.0, 0.0, 0.0, 'Itachi', 15.0],
       [0.0, 1.0, 0.0, 0.0, 1.0, 'Gohan', 50.0],
       [0.0, 0.0, 0.0, 1.0, 2.0, 'Vegeta', 48.0],
       [1.0, 0.0, 0.0, 0.0, 1.0, 'Eren', 30.0],
       [0.0, 0.0, 1.0, 0.0, 3.0, 'Might_Guy', nan],
       [0.0, 1.0, 0.0, 0.0, 2.0, 'Levi', 50.0],
       [0.0, 0.0, 0.0, 1.0, 2.0, 'Goku', nan],
       [1.0, 0.0, 0.0, 0.0, 1.0, 'Mikasa', 25.0]], dtype=object)

In [45]:
pd.DataFrame(dff2)

     0    1    2    3    4          5     6
0  0.0  0.0  1.0  0.0  0.0     Minato  20.0
1  0.0  0.0  1.0  0.0  0.0     Itachi  15.0
2  0.0  1.0  0.0  0.0  1.0      Gohan  50.0
3  0.0  0.0  0.0  1.0  2.0     Vegeta  48.0
4  1.0  0.0  0.0  0.0  1.0       Eren  30.0
5  0.0  0.0  1.0  0.0  3.0  Might_Guy   NaN
6  0.0  1.0  0.0  0.0  2.0       Levi  50.0
7  0.0  0.0  0.0  1.0  2.0       Goku   NaN
8  1.0  0.0  0.0  0.0  1.0     Mikasa  25.0

In [13]:

cat_features_1 = ["Anime","cat_cols"]

cat_imputer1 = SimpleImputer(strategy="constant", fill_value="missing")

tran = ColumnTransformer([
    ("imputer", cat_imputer1,cat_features_1)
],remainder="passthrough")

df1 = tran.fit_transform(df)
df1

array([['Naruto', 'cat1', 'Minato', 20.0],
       ['Naruto', 'cat1', 'Itachi', 15.0],
       ['DBZ', 'cat2', 'Gohan', 50.0],
       ['missing', 'cat3', 'Vegeta', 48.0],
       ['AOT', 'cat2', 'Eren', 30.0],
       ['Naruto', 'np.nan', 'Might_Guy', nan],
       ['DBZ', 'cat3', 'Levi', 50.0],
       ['missing', 'cat3', 'Goku', nan],
       ['AOT', 'cat2', 'Mikasa', 25.0]], dtype=object)

In [14]:
df

        name   Anime  Levels cat_cols
0     Minato  Naruto    20.0     cat1
1     Itachi  Naruto    15.0     cat1
2      Gohan     DBZ    50.0     cat2
3     Vegeta     NaN    48.0     cat3
4       Eren     AOT    30.0     cat2
5  Might_Guy  Naruto     NaN   np.nan
6       Levi     DBZ    50.0     cat3
7       Goku     NaN     NaN     cat3
8     Mikasa     AOT    25.0     cat2

In [15]:
new_df = pd.DataFrame(df1,columns=df.columns)
new_df

      name   Anime     Levels cat_cols
0   Naruto    cat1     Minato     20.0
1   Naruto    cat1     Itachi     15.0
2      DBZ    cat2      Gohan     50.0
3  missing    cat3     Vegeta     48.0
4      AOT    cat2       Eren     30.0
5   Naruto  np.nan  Might_Guy      NaN
6      DBZ    cat3       Levi     50.0
7  missing    cat3       Goku      NaN
8      AOT    cat2     Mikasa     25.0

In [16]:
one_hot = OneHotEncoder()
categorical = ["Anime","cat_cols"]
ohe = ColumnTransformer([("onehot",
                         one_hot,
                         categorical)],
                         remainder="passthrough")

coded_x = ohe.fit_transform(new_df)
coded_x

array([[1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Naruto',
        'Minato'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Naruto',
        'Itachi'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 'DBZ',
        'Gohan'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 'missing',
        'Vegeta'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 'AOT',
        'Eren'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 'Naruto',
        'Might_Guy'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 'DBZ',
        'Levi'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 'missing',
        'Goku'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 'AOT',
        'Mikasa']], dtype=object)

In [18]:
pd.DataFrame(coded_x)

    0    1    2    3    4    5    6    7    8    9    10       11         12
0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0   Naruto     Minato
1  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0   Naruto     Itachi
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0      DBZ      Gohan
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  missing     Vegeta
4  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0      AOT       Eren
5  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   Naruto  Might_Guy
6  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0      DBZ       Levi
7  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  missing       Goku
8  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0      AOT     Mikasa

In [67]:
def has_two(outcome) : return len([i for i in outcome if i == "heads"])

In [71]:
has_two("heads")

0

In [68]:
has_two(["heads","tails","heads"])

2